.popup-container {
  display: flex;
  flex-direction: column;
}

.popup-messages {
  grid-column: 1 / 3;
  margin: 0 10px;
}

.popup-columns {
  display: flex;
  flex-direction: row;

  &.mobile {
    flex-direction: column-reverse;
  }
}

video {
  width: 100%;
}

textarea,
select {
  font-size: 90%;
}

label {
  flex: 1 0 auto;

  input[type="radio"] {
    margin: 3px 3px 0 0;
  }
}
