:root {
  --button-bg-color: #a2a2a2;
  --primary-color: #24aadd;
  --bg-main-color: #fff;
  --bg-secondary-color: #fafafa;
  --border-color: #eee;
  --secondary-text: #888;
  --error-color: #f44336;
  --success-color: #4caf50;
  --section-header-fg-color: #4c4c4c;
  --section-header-bg-color: #eee;
  --text-color: #111;
}

html[data-theme="dark"] {
  --button-bg-color: #666;
  --primary-color: #1b87b0;
  --bg-main-color: #1a1a1a;
  --bg-secondary-color: #3e3e3e;
  --border-color: #474747;
  --section-header-fg-color: #d9d9d9;
  --section-header-bg-color: #272727;
  --text-color: #e6e6e6;

  color: var(--text-color);
  background-color: var(--bg-main-color);
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  display: block;
  font-size: 100%;
}

button {
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  height: 30px;
  cursor: pointer;
  padding: 0 10px;
  white-space: nowrap;
}

button.primary {
  background-color: var(--primary-color);
}

input[type="text"] {
  height: 26px;
}

input[type="text"],
textarea {
  color: var(--text-color);
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--border-color);
  width: 100%;
}

input[type="text"]:focus,
textarea:focus {
  outline: var(--primary-color) solid 2px;
  box-sizing: content-box;
}

textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  text-overflow: ellipsis;
  resize: vertical;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.full {
  width: 100%;
}

select {
  color: var(--text-color);
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--border-color);
  height: 30px;
  width: 100%;
}

ul.compact,
.compact-tags {
  list-style-type: none;
  padding: 0;
  display: inline;
}

.compact-tags > li {
  /*
  Ident each newline but not the first line.
  This makes tagName line breaks look better, though it is a bit hacky.
  */
  text-indent: -1.5ch;
  padding-left: 1.5ch;
}

.tag-general {
  color: var(--primary-color);
}

.tag-copyright {
  color: rgb(170, 0, 170);
}

.tag-character {
  color: rgb(0, 170, 0);
}

.tag-artist {
  color: rgb(170, 0, 0);
}

.tag-meta {
  color: rgb(255, 128, 0);
}

.tag-species {
  color: rgb(17, 14, 247);
}

.tag-lore {
  color: rgb(48, 48, 48);
}

.remove-tag,
.tag-usages {
  color: var(--secondary-text);
}

a.remove-tag {
  text-decoration: none;
  cursor: pointer;
}

.tag-usages {
  font-size: 90%;
  /* Reset text-indent set by ".compact-tags > li" because it clashes with our margin */
  text-indent: initial;
  margin-left: 0.7em;
}

.messages {
  list-style-type: none;
  padding: 0;
  display: inline;
}

.messages > li {
  padding: 5px;
  border-radius: 2px;
  background: var(--primary-color);
  color: white;
}

.messages > li > a {
  color: white;
  text-decoration: none;
}

.messages > li:first-child {
  margin-top: 10px;
}

.messages > li:not(:last-child) {
  margin-bottom: 5px;
}

.message-error {
  background: var(--error-color) !important;
}

.message-success {
  background: var(--success-color) !important;
}
